In [1]:
import pandas as pd

In [2]:
tony = pd.read_csv("/Users/invinst/Dropbox (Invisible Institute)/Data/chicago-police-data/import/output/complaints-cpd-2016-nov/p046957_-_report_3_-_police_officer_witness_data_xi.csv")

In [3]:
tony.shape

(27922, 9)

In [5]:
tony.head()

,CRID,Officer_Witness,Officer_Witness_Gender,Officer_Witness_Race,Officer_Witness_Star,Officer_Witness_Birth_Year,Officer_Witness_Date_Appointed,FOIA_Request_Number,Report_Produced_Date
0,259069,"DOLCIMASCOLO, NED",M,WHI,NaN,1945.0,1972-10-23,FOIA # P046957\nReport 3\nOf All Complaints in...,NaN
1,259088,"BRYANT, YVONNE",F,BLK,NaN,1956.0,1998-08-31,FOIA # P046957\nReport 3\nOf All Complaints in...,NaN
2,259088,"CARROLL, RONDY",M,BLK,NaN,1973.0,1997-08-04,FOIA # P046957\nReport 3\nOf All Complaints in...,NaN
3,259100,"CASTILLO, DIEGO",M,WWH,7499,1963.0,1994-07-05,FOIA # P046957\nReport 3\nOf All Complaints in...,NaN
4,259108,"RODIRGUEZ, GINA",F,WWH,20045,1964.0,1990-03-26,FOIA # P046957\nReport 3\nOf All Complaints in...,NaN

In [6]:
mine = pd.read_csv("../output/witnesses.csv.gz")

In [7]:
mine.shape

(27922, 7)

In [8]:
mine.head()

,cr_id,full_name,gender,race,current_star,birth_year,appointed_date
0,259069,"DOLCIMASCOLO, NED",M,WHI,NaN,1945.0,1972-10-23
1,259088,"BRYANT, YVONNE",F,BLK,NaN,1956.0,1998-08-31
2,259088,"CARROLL, RONDY",M,BLK,NaN,1973.0,1997-08-04
3,259100,"CASTILLO, DIEGO",M,WWH,7499,1963.0,1994-07-05
4,259108,"RODIRGUEZ, GINA",F,WWH,20045,1964.0,1990-03-26

In [9]:
len(set(mine['cr_id']))

12606

In [11]:
len(set(tony['CRID']))

12606

In [13]:
len(set(tony['CRID']) & set(mine['cr_id']))

12606