In [10]:
import pandas as pd

In [59]:
complaints = pd.read_csv("complaints.csv")
complaints = complaints.get(["cr_id", "complaint_category", "recommended_discipline", "final_discipline"])
complaints

,cr_id,complaint_category,recommended_discipline,final_discipline
0,258996,01A-USE OF PROFANITY,600.0,600.0
1,258997,01A-USE OF PROFANITY,600.0,600.0
2,258997,01A-USE OF PROFANITY,600.0,600.0
3,258998,10J-NEGLECT OF DUTY/CONDUCT UNBECOMING - ON DUTY,600.0,600.0
4,259001,10U-INADEQUATE/FAILURE TO PROVIDE SERVICE,600.0,600.0
...,...,...,...,...
125576,1082657,NaN,NaN,NaN
125577,1082661,NaN,NaN,NaN
125578,1082661,NaN,NaN,NaN
125579,1082695,NaN,NaN,NaN
125580,10773250,NaN,NaN,NaN

In [4]:
#complaints.to_csv("complaints2.csv")

In [60]:
accusations = pd.read_csv("accused.csv")
accusations = accusations.get(["cr_id", "gender"])
gender_accusations

/Users/anikagarg/Desktop/Police-Brutality/venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

           cr_id gender                                complaint_category
0         258996      M                              01A-USE OF PROFANITY
1         258997      F                              01A-USE OF PROFANITY
2         258997      M                              01A-USE OF PROFANITY
3         258998      M  10J-NEGLECT OF DUTY/CONDUCT UNBECOMING - ON DUTY
4         259001      M         10U-INADEQUATE/FAILURE TO PROVIDE SERVICE
...          ...    ...                                               ...
125576   1082657      M                                               NaN
125577   1082661      M                                               NaN
125578   1082661      M                                               NaN
125579   1082695      M                                               NaN
125580  10773250      M                                               NaN

[125581 rows x 3 columns]

In [61]:
complaints_bygender = complaints.merge(accusations, left_on=("cr_id"), right_on=("cr_id"))
complaints_bygender = complaints_bygender.dropna()
complaints_bygender

,cr_id,complaint_category,recommended_discipline,final_discipline,gender
0,258996,01A-USE OF PROFANITY,600.0,600.0,M
1,258997,01A-USE OF PROFANITY,600.0,600.0,F
2,258997,01A-USE OF PROFANITY,600.0,600.0,M
3,258997,01A-USE OF PROFANITY,600.0,600.0,F
4,258997,01A-USE OF PROFANITY,600.0,600.0,M
...,...,...,...,...,...
413042,1081894,03D-ILLEGAL ARREST,600.0,600.0,F
413124,1082050,03C-SEARCH OF PREMISE/VEHICLE WITHOUT WARRANT,600.0,600.0,F
413125,1082050,03C-SEARCH OF PREMISE/VEHICLE WITHOUT WARRANT,600.0,600.0,M
413126,1082050,03C-SEARCH OF PREMISE/VEHICLE WITHOUT WARRANT,600.0,600.0,F
413127,1082050,03C-SEARCH OF PREMISE/VEHICLE WITHOUT WARRANT,600.0,600.0,M

In [62]:
female_sustained = complaints_bygender[((complaints_bygender.get("final_discipline")) != 600.0)& ((complaints_bygender.get("gender")) == "F")].shape[0]
female_sustained

3819

In [63]:
male_sustained = complaints_bygender[((complaints_bygender.get("final_discipline")) != 600.0)& ((complaints_bygender.get("gender")) == "M")].shape[0]
male_sustained

18151

In [64]:
number_female_complaints = complaints_bygender[(complaints_bygender.get("gender")) == "F"].shape[0]
number_female_complaints

46016

In [65]:
number_male_complaints = complaints_bygender[(complaints_bygender.get("gender")) == "M"].shape[0]
number_male_complaints

340857

In [66]:
percent_female_sustained = female_sustained/number_female_complaints * 100
percent_female_sustained

8.299287204450625

In [67]:
percent_male_sustained = male_sustained/number_male_complaints * 100
percent_male_sustained

5.325107009684413

In [82]:
common_complaints = complaints_bygender.drop(columns = ["recommended_discipline", "final_discipline"]).groupby(["complaint_category", "gender"]).count()
type_complaints_bygender = common_complaints.rename(columns = {"cr_id": "number_complaints"}).reset_index()
type_complaints_bygender

,complaint_category,gender,number_complaints
0,01A-USE OF PROFANITY,F,781
1,01A-USE OF PROFANITY,M,5387
2,"01B-RACIAL/ETHNIC, ETC.",F,269
3,"01B-RACIAL/ETHNIC, ETC.",M,2003
4,01C-MISCELLANEOUS,F,190
...,...,...,...
226,15H-POSITIVE DRUG SCREEN - OTHER PHYSICAL EXAM,M,44
227,15J-REFUSAL OF DIRECT ORDER TO PROVIDE DRUG SC...,F,1
228,15J-REFUSAL OF DIRECT ORDER TO PROVIDE DRUG SC...,M,1
229,15K-MISCELLANEOUS,F,3
230,15K-MISCELLANEOUS,M,17

In [90]:
most_common_complaint_female = type_complaints_bygender[((type_complaints_bygender.get("gender")) == "F")].max()
most_common_complaint_female

complaint_category    15K-MISCELLANEOUS
gender                                F
number_complaints                  7442
dtype: object

In [91]:
most_common_complaint_female = type_complaints_bygender[((type_complaints_bygender.get("gender")) == "M")].max()
most_common_complaint_female

complaint_category    15K-MISCELLANEOUS
gender                                M
number_complaints                 67592
dtype: object