In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [17]:
try:
    officer_df = pd.read_csv("chicago-police-data/data/unified_data/profiles/officer-profiles.csv")
    officer_df_cleaned = officer_df[["race", "gender", "appointed_date", "resignation_date", 
                                     "current_status", "resignation_date", "cleaned_rank"]]
    officer_df_cleaned.dropna(subset = ["race"], inplace = True)
    officer_df_cleaned.dropna(subset = ["cleaned_rank"], inplace = True)
except SettingWithCopyWarning:
    pass
officer_df_cleaned

/Users/aryamansinha/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/aryamansinha/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,race,gender,appointed_date,resignation_date,current_status,resignation_date,cleaned_rank
4,BLACK,MALE,1966-06-20,1986-09-16,0.0,1986-09-16,POLICE OFFICER
5,WHITE,MALE,1971-10-25,2004-03-15,0.0,2004-03-15,POLICE OFFICER
6,HISPANIC,MALE,2009-12-16,NaN,1.0,NaN,POLICE OFFICER
7,BLACK,MALE,2016-06-27,NaN,1.0,NaN,POLICE OFFICER
8,BLACK,MALE,2005-12-05,NaN,1.0,NaN,POLICE OFFICER
...,...,...,...,...,...,...,...
32476,WHITE,MALE,2006-12-01,NaN,NaN,NaN,COMMANDER
32481,WHITE,MALE,2004-07-16,2017-08-06,NaN,2017-08-06,DEPUTY CHIEF
32489,WHITE,MALE,1995-12-18,2008-12-31,NaN,2008-12-31,COMMANDER
32509,WHITE,MALE,2005-03-01,2011-03-22,NaN,2011-03-22,COMMANDER
33026,WHITE,MALE,2014-04-16,NaN,NaN,NaN,CHIEF

In [27]:
ranks = officer_df_cleaned["cleaned_rank"].unique()
races = officer_df_cleaned["race"].unique()
rank_race_dict = {}
for rank in ranks:
    rank_dict = {}
    for race in races:
        rank_dict[race] = 0
    rank_race_dict[rank] = rank_dict

for i in ranks:
    df = officer_df_cleaned.loc[officer_df_cleaned["cleaned_rank"] == i]
    for j in races:
        count = len(df.loc[df["race"] == j])
        rank_race_dict[i][j] = count
rank_race_dict

{'POLICE OFFICER': {'BLACK': 5808,
  'WHITE': 13231,
  'HISPANIC': 3403,
  'ASIAN/PACIFIC ISLANDER': 412,
  'NATIVE AMERICAN/ALASKAN NATIVE': 53},
 'SERGEANT': {'BLACK': 677,
  'WHITE': 2454,
  'HISPANIC': 324,
  'ASIAN/PACIFIC ISLANDER': 38,
  'NATIVE AMERICAN/ALASKAN NATIVE': 2},
 'FIELD TRAINING OFFICER': {'BLACK': 99,
  'WHITE': 166,
  'HISPANIC': 69,
  'ASIAN/PACIFIC ISLANDER': 7,
  'NATIVE AMERICAN/ALASKAN NATIVE': 0},
 'DETECTIVE': {'BLACK': 465,
  'WHITE': 2332,
  'HISPANIC': 235,
  'ASIAN/PACIFIC ISLANDER': 29,
  'NATIVE AMERICAN/ALASKAN NATIVE': 6},
 'OTHER': {'BLACK': 2,
  'WHITE': 21,
  'HISPANIC': 1,
  'ASIAN/PACIFIC ISLANDER': 0,
  'NATIVE AMERICAN/ALASKAN NATIVE': 0},
 'LIEUTENANT': {'BLACK': 115,
  'WHITE': 794,
  'HISPANIC': 46,
  'ASIAN/PACIFIC ISLANDER': 5,
  'NATIVE AMERICAN/ALASKAN NATIVE': 0},
 'COMMANDER': {'BLACK': 36,
  'WHITE': 82,
  'HISPANIC': 15,
  'ASIAN/PACIFIC ISLANDER': 3,
  'NATIVE AMERICAN/ALASKAN NATIVE': 0},
 'CAPTAIN': {'BLACK': 29,
  'WHITE': 285,
  'HISPANIC': 12,
  'ASIAN/PACIFIC ISLANDER': 1,
  'NATIVE AMERICAN/ALASKAN NATIVE': 0},
 'FIRST DEPUTY SUPERINTENDENT': {'BLACK': 2,
  'WHITE': 4,
  'HISPANIC': 2,
  'ASIAN/PACIFIC ISLANDER': 0,
  'NATIVE AMERICAN/ALASKAN NATIVE': 0},
 'DEPUTY CHIEF': {'BLACK': 17,
  'WHITE': 42,
  'HISPANIC': 2,
  'ASIAN/PACIFIC ISLANDER': 0,
  'NATIVE AMERICAN/ALASKAN NATIVE': 0},
 'ASSISTANT DEPUTY SUPERINTENDENT': {'BLACK': 4,
  'WHITE': 18,
  'HISPANIC': 3,
  'ASIAN/PACIFIC ISLANDER': 0,
  'NATIVE AMERICAN/ALASKAN NATIVE': 0},
 'DEPUTY SUPERINTENDENT': {'BLACK': 11,
  'WHITE': 11,
  'HISPANIC': 1,
  'ASIAN/PACIFIC ISLANDER': 0,
  'NATIVE AMERICAN/ALASKAN NATIVE': 0},
 'CHIEF': {'BLACK': 6,
  'WHITE': 17,
  'HISPANIC': 6,
  'ASIAN/PACIFIC ISLANDER': 0,
  'NATIVE AMERICAN/ALASKAN NATIVE': 0},
 "SUPERINTENDENT'S CHIEF OF STAFF": {'BLACK': 0,
  'WHITE': 3,
  'HISPANIC': 0,
  'ASIAN/PACIFIC ISLANDER': 0,
  'NATIVE AMERICAN/ALASKAN NATIVE': 0},
 'SUPERINTENDENT OF POLICE': {'BLACK': 2,
  'WHITE': 3,
  'HISPANIC': 1,
  'ASIAN/PACIFIC ISLANDER': 0,
  'NATIVE AMERICAN/ALASKAN NATIVE': 0},
 'ASSISTANT SUPERINTENDENT': {'BLACK': 1,
  'WHITE': 0,
  'HISPANIC': 0,
  'ASIAN/PACIFIC ISLANDER': 0,
  'NATIVE AMERICAN/ALASKAN NATIVE': 0},
 'DIRECTOR OF CAPS': {'BLACK': 1,
  'WHITE': 0,
  'HISPANIC': 0,
  'ASIAN/PACIFIC ISLANDER': 0,
  'NATIVE AMERICAN/ALASKAN NATIVE': 0}}

In [38]:

barWidth = 0.25

plot_dict = {}
for rank in ranks:
    temp_list = []
    for race in rank_race_dict[rank].keys():
        temp_list.append(rank_race_dict[rank][race])
    plot_dict[rank] = temp_list

len(plot_dict)

17

In [ ]:
len1 = np.arange(len(races))
colors = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728', '#9467bd', '#8c564b', '#e377c2', '#7f7f7f', '#bcbd22', '#17becf']
for i in range(len(ranks)):
    plt.bar(len1, plot_dict[ranks], )
    len1 = [x + barWidth for x in len1]

In [ ]:
# libraries
import numpy as np
import matplotlib.pyplot as plt
 
# set width of bar
barWidth = 0.25
 
# set height of bar
bars1 = [12, 30, 1, 8, 22]
bars2 = [28, 6, 16, 5, 10]
bars3 = [29, 3, 24, 25, 17]
 
# Set position of bar on X axis
r1 = np.arange(len(bars1))
r2 = [x + barWidth for x in r1]
r3 = [x + barWidth for x in r2]
 
# Make the plot
plt.bar(r1, bars1, color='#7f6d5f', width=barWidth, edgecolor='white', label='var1')
plt.bar(r2, bars2, color='#557f2d', width=barWidth, edgecolor='white', label='var2')
plt.bar(r3, bars3, color='#2d7f5e', width=barWidth, edgecolor='white', label='var3')
 
# Add xticks on the middle of the group bars
plt.xlabel('group', fontweight='bold')
plt.xticks([r + barWidth for r in range(len(bars1))], ['A', 'B', 'C', 'D', 'E'])
 
# Create legend & Show graphic
plt.legend()
plt.show()

In [32]:
np.arange(5)

array([0, 1, 2, 3, 4])